numpy
scipy
# Pin Cython to avoid bug with 0.28.x on Python 3.7 
cython==0.27.3
pytest
wheel
wheelhouse_uploader
pillow
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
